@model VT.Models.Developers.DeveloperDetailsViewModel
@{
	ViewData["Title"] = "KPI 004";
}
<div class="text-center">
	@if (Model.Data.Any())
	{
		<div id="@Model.Title" style="width: 100%; height: 500px;">@Model.Title</div>
		<table class="table table-bordered table-responsive table-hover">
			<tr>
				<th>Ticket Number</th>
				<th>Original SP</th>
				@foreach (var item in Model.StoryPointData)
				{
					<th>@item.Date</th>
				}
			</tr>
			@foreach (var ticket in Model.Data)
			{
				<tr>
					<td>@ticket.TicketNumber</td>
					<td>@ticket.OriginalStoryPoint</td>
					@foreach (var remainingSp in ticket.RemainingStoryPoint)
					{
						if (Model.StoryPointData.Select(sp => sp.Date).Any(d => d == remainingSp.Key.ToShortDateString()))
						{
							<td>@remainingSp.Value.ToString("N2")</td>
						}
						else
						{
							<td>N/A</td>
						}
					}
				</tr>
			}
		</table>
	}
</div>
<script>
	google.charts.load('current', { 'packages': ['corechart'] });
				google.charts.setOnLoadCallback(drawVisualization1);

				function drawVisualization1() {
					var data = new google.visualization.DataTable();
					data.addColumn('string', "Time");
					data.addColumn('number', "Actual story point burnt");
					data.addColumn('number', "Base line");

					@foreach (var item in Model.StoryPointData)

		{
            @:data.addRows([['@item.Date', @item.RealityRate, @item.Baseline]]);
        }

        var options = {
            title: '@Model.Title',
            vAxis: { title: 'Percent' },
            hAxis: { title: '' },
            seriesType: 'bars',
			series: { 1: { type: 'line' } }
        };

        var chartName = '@Model.Title';
		var chart = new google.visualization.ComboChart(document.getElementById(chartName));

		chart.draw(data, options);
		}
</script>
