@model VT.Model.ReportDataResponseModel
@{
    ViewData["Title"] = "Report";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
	


    
    <div id="chart_div" style="width: 100%; height: 500px;"></div>


    @(Model.TicketsData[0].AssigneesInDevelopment.Any() ? Model.TicketsData[0].AssigneesInDevelopment[0].Assignee : string.Empty)
    @Model.TicketsData[0].Created
    @Model.TicketsData[0].IsCreatedByAutoTeam
    @Model.TicketsData[0].InAnalysisTime
    @(Model.TicketsData[0].InAnalysisAssignees.Any() ? Model.TicketsData[0].InAnalysisAssignees[0].Item1 : string.Empty)
    @(Model.TicketsData[0].InAnalysisAssignees.Any() ? Model.TicketsData[0].InAnalysisAssignees[0].Item2 : 0)

</div>

<div>
    @await Component.InvokeAsync("KPI002", Model)
</div>

<script>
	google.charts.load('current', { 'packages': ['corechart'] });
	google.charts.setOnLoadCallback(drawVisualization);

	function drawVisualization() {
		// Some raw data (not necessarily accurate)
		var data = google.visualization.arrayToDataTable([
			['Month', 'Bolivia', 'Ecuador', 'Madagascar', 'Papua New Guinea', 'Rwanda', 'Average'],
			['2004/05', 165, 938, 522, 998, 450, 614.6],
			['2005/06', 135, 1120, 599, 1268, 288, 682],
			['2006/07', 157, 1167, 587, 807, 397, 623],
			['2007/08', 139, 1110, 615, 968, 215, 609.4],
			['2008/09', 136, 691, 629, 1026, 366, 569.6]
		]);

		var options = {
			title: 'Monthly Coffee Production by Country',
			vAxis: { title: 'Cups' },
			hAxis: { title: 'Month' },
			seriesType: 'bars',
			series: { 0: { type: 'line' }, 3: { type: 'line' } }
		};

		var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
		chart.draw(data, options);
	}
</script>
