@model VT.Models.Monthly.KPIs.KPI004ViewModel
@{
    ViewData["Title"] = "KPI 004";
}
<div class="text-center">
    <div id="chart_div_kpi004" style="width: 100%; height: 500px;"></div>
</div>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawVisualization1);

    function drawVisualization1() {
        @*var data = google.visualization.arrayToDataTable(@Html.Raw(JsonConvert.SerializeObject(array1)));*@
        var data = new google.visualization.DataTable();
        data.addColumn('string', "Time");
        data.addColumn('number', "Actual result");
        data.addColumn('number', "Baseline");

        @foreach (var item in Model.Data)
        {
            @:data.addRows([['@item.Month/@item.Year', @item.RealityRate, @item.Baseline]]);
        }

        var options = {
            title: '@Model.Title',
            vAxis: { title: 'Percent' },
            hAxis: { title: '' },
            seriesType: 'bars',
            series: { 1: { type: 'line' } }
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div_kpi004'));
        chart.draw(data, options);
    }
</script>
